div.form-box {
    margin-bottom: 15px;
}

label.wp-form-label {
    width: 20%;
    font-weight: 600;
    margin-top: 7.5px;
}

input.wp-form-field,
select {
    float: right;
    clear: both;
    width: 40%;
    margin-right: 25%;
}